<div class="row">
    <div class="col s3" style="margin-left:3vw;">
        <h5 class="black-text">Company</h5>
        <ul>
            <li><a class="grey-text text-lighten-1" href="#!">About</a></li>
            <li><a class="grey-text text-lighten-1" href="#!">Blog</a></li>
            <li><a class="grey-text text-lighten-1" href="#!">Careers</a></li>
            <li><a class="grey-text text-lighten-1" href="#!">Security</a></li>
        </ul>
    </div>

    <div class="col s3">
        <h5 class="black-text">Information</h5>
        <ul>
            <li><a class="grey-text text-lighten-1" href="#!">About the Company</a></li>
            <li><a class="grey-text text-lighten-1" href="#!">Privacy</a></li>
            <li><a class="grey-text text-lighten-1" href="#!">Contact Support</a></li>
            <li><a class="grey-text text-lighten-1" href="#!">Contact Sales</a></li>
        </ul>
    </div>
    <div class="col s3">
        <h5 class="black-text">Information</h5>
        <ul>
            <li><a class="grey-text text-lighten-1" href="#!">About the Company</a></li>
            <li><a class="grey-text text-lighten-1" href="#!">Privacy</a></li>
            <li><a class="grey-text text-lighten-1" href="#!">Contact Support</a></li>
            <li><a class="grey-text text-lighten-1" href="#!">Contact Sales</a></li>
        </ul>
    </div>
    <div class="col s2">
        <h6 class="black-text center-align"><b>Subscribe Now!</b></h6>
        <div style="border-radius:25px;height:40px;margin:2vh 0 0 0;" class="input-field col s12 card">
            <input style="border-bottom:none;text-align:center;" id="subEmail" type="text" class="validate" placeholder="Your Email">
        </div>
        <div style="border-radius:25px;height:40px;" class="input-field col s12 btn waves-effect waves-radical-red Radical-Red hoverable">
            <a class="Radical-Red white-text">Subscribe Now</a>
        </div>
    </div>
</div>