@{
    ViewData["Title"] = "Footer";
}

<style>
    li{
        padding:0; 
        margin:0;
        padding-bottom:.5vh;
    }
</style>
<footer id="footer" class="Radical-Red white-text" style="margin-bottom:0;font-size:small;margin-top:0;height:9vh;">

        <ul style="display:inline-flex;" class="right" >
            <li><a href="https://pot-luck-docs.s3.amazonaws.com/terms.htm" class="white-text" style="margin-right:2vw;margin-bottom:0">Terms Of Service</a></li>
            <li><a href="https://pot-luck-docs.s3.amazonaws.com/policy.htm" class="white-text" style="margin-right:3vw;margin-bottom:0">Privacy Policy</a></li>
        </ul>
        @*<a class="white-text" style="margin-right:1vw;">Terms Of Service</a>
            <a class="white-text" style="margin-right:1vw;">Privacy Policy</a>*@

    <p class="left" style="padding-left:2.5vw;">&copy; 2020 Potluck. All Rights Reserved</p>
    <img class="hide-on-small-and-down" style="max-height:7.1vh;margin:1vh 0 .7vh 13vw;" src="~/images/Logos/CFIB-Logo2.jpg" />
    
</footer>

