
@{
    ViewData["Title"] = "TOS";
}

<h2>Terms Of Service</h2>

<div class="container">
    <div class="row">
        <div class="Row">

        </div>
        <div class="Row">

        </div>
    </div>
</div>

